# files ignored in git repository

# backup files
*~

# object, archive,... files
*.[oa]
*.mod
a.out

# any local files, directories,...
*.local
*.local/

# error messages from compiler etc.
*.error

# setup files (links) that will be made at compilation,...

LISTOBJ
TAGS
linux.*
g77*/
IBMaix*
SGIirix*
sun*
T3E*
unicos*

linux.*/
g77*/
IBMaix*/
SGIirix*/
sun*/
T3E*/
unicos*/
!SETUP/linux.*/
!SETUP/g77/
!SETUP/IBMaix/
!SETUP/sun*/
!SETUP/SGIirix*/
!SETUP/T3E/
!SETUP/unicos/

bin/
bins/
builds/
lib/
libs/
 
# temporary link files for scripts
uinput.dg
uinput.trg
src/uinp/test.eir
src/uinp/input.eir
src/uinp/triang.eir
src/uinp/triang.hed

# auxiliary files for manual
doc/solps/solps_data_git.log
doc/solps/solps-iter_git.log
doc/solps/solps.*
!doc/solps/solps.tex
doc/solps/b2cdc?.F
doc/solps/B2_5.config.ITER.ifort64
doc/solps/B2_5.Makefile
doc/solps/b2plot.commands
doc/solps/DIMENSIONS.F

# Triangular grid files
modules/Triang/triangles/


