[submodule "Eirene"]
	path = Eirene
	url = ssh://git@git.iter.org/bnd/eirene.git
[submodule "B2.5"]
	path = B2.5
	url = ssh://git@git.iter.org/bnd/b2.5.git
[submodule "libs/mscl"]
	path = libs/mscl
	url = ssh://git@git.iter.org/lib/mscl.git
