[submodule "Eirene"]
	path = src/Eirene
	url = ssh://git@git.iter.org/bnd/eirene.git
[submodule "B2.5"]
	path = src/B2.5
	url = ssh://git@git.iter.org/bnd/b2.5.git
[submodule "libs/mscl"]
	path = libs/mscl
	url = ssh://git@git.iter.org/lib/mscl.git
[submodule "data"]
	path = data
	url = ssh://git@git.iter.org/bnd/solps-data.git
