# files ignored in git repository

# backup files
*~

# object, archive,... files
*.[oa]
*.mod

# error messages from compiler etc.
*.error

# setup files (links) that will be made at compilation,...
setup.csh.*
!setup.csh.local
!setup.csh.NAG.guess
!setup.csh.NCARG
!setup.csh.NCARG.guess

setup.ksh.*
!setup.ksh.local
!setup.ksh.NAG.guess
!setup.ksh.NCARG
!setup.ksh.NCARG.guess

LISTOBJ
TAGS
linux.*/
g77*/
IBMaix*/
SGIirix*/
sun*/
T3E*/
unicos*/

bin/
